@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* HEADER GLOBAL */
.header {
    grid-area: header;
    background: linear-gradient(90deg, rgb(213, 144, 15), rgb(213, 152, 21), rgb(201, 136, 16));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.header .header__nav {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.header .header__nav .nav__icon {
    font-size: 35px;
    color: black;
    cursor: pointer;
    width: 35px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: auto;
    display: none;
}
.header .header__nav #nav__check {
    display: none;
}
.header .header__nav #label__check {
    width: 35px;
    height: 100%;
    display: none;
}
.header .header__nav .nav__icono img {
    width: 65px;
    height: auto;
    margin: 10px 50px;
}
.header .header__nav .nav__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 100%;
}
.header .header__nav .nav__menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}
.header .header__nav .nav__menu ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.header .header__nav .nav__menu ul li ul {
    width: 130px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 70px;
    padding: 13px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}
.header .header__nav .nav__menu ul li ul li a {
    display: block;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 400ms ease;
    padding: 5px 15px;
    text-align: left;
    width: 100%;
}
.header .header__nav .nav__menu ul li ul li a:hover {
    background: rgb(213, 144, 15);
    transform: scale(1.1);
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.header .header__nav .nav__menu ul li .menu__productos {
    cursor: pointer;
}
.header .header__nav .nav__menu ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 65px;
    position: absolute;
}
.header .header__nav .nav__menu ul a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    margin: auto;
}
.header .header__nav .nav__menu ul a:hover {
    color: white;
    transition: all 0.25s;
}
.header .header__nav .nav__menu .nav__form {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    padding: 0;
}
.header .header__nav .nav__menu .nav__form input {
    height: 38px;
    width: 230px;
    padding: 10px;
    border: 1px solid #d3d7da;
}
.header .header__nav .nav__menu .nav__form input:focus {
    border: 1px solid #777888;
    outline: none;
    transition: all 1s;
}
.header .header__nav .nav__menu .nav__form button {
    height: auto;
    width: 24px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.header .header__nav .nav__usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 50px;
}
.header .header__nav .nav__usuario a {
    width: 35px;
    height: auto;
}
.header .header__nav .nav__usuario a img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}
.header .header__nav .nav__menu .active {
    color: white;
}

/* FOOTER GLOBAL */
.footer {
    grid-area: footer;
    background-color: #363738;
    width: 100%;
}
.footer .footer__contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
.footer .footer__contenedor .box__footer {
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.footer .footer__contenedor .box__footer .logo img {
    width: 65px;
}
.footer .footer__contenedor .box__footer .parrafo {
    max-width: 400px;
    margin-top: 11px;
    font-weight: 500;
    color: #d3d7da;
}
.footer .footer__contenedor .box__footer h2 {
    color: #bcbcbc;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 20px;
}
.footer .footer__contenedor .box__footer a {
    margin-top: 1rem;
    color: #d3d7da;
    font-weight: 500;
    text-decoration: none;
}
.footer .footer__contenedor .box__footer a:hover {
    opacity: .8;
}
.footer .footer__contenedor .box__footer a .fab {
    font-size: 20px;
}
.footer .box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.footer .box__copyright p {
    margin: 20px 0;
    color: #d3d7da;
    font-weight: 500;
}
.footer .box__copyright hr {
    border: none;
    height: 1px;
    background-color: #d3d7da;
}

/* SOBRENOSOTROS */
.grid-container__sobrenosotros {
    display: grid;
    grid-template-areas:
    "header"
    "section__nosotros"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    font-family: Arial, Helvetica, sans-serif;
}


.grid__contenedor__sobrenosotros {
    grid-area: section__nosotros;
}


.grid__contenedor__sobrenosotros .section__nosotros {
    min-height: 200px;
    padding: 20px 50px;
}
.grid__contenedor__sobrenosotros .section__nosotros div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.grid__contenedor__sobrenosotros .section__historia {
    min-height: 700px;
    padding: 50px;
}
.grid__contenedor__sobrenosotros .section__historia div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.grid__contenedor__sobrenosotros .section__historia div h2 {
    margin-bottom: 25px;
}


/* UBICACION */
.grid-container__ubicacion {
    display: grid;
    grid-template-areas:
    "header"
    "section__ubicacion"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    font-family: Arial, Helvetica, sans-serif;
}


.section__ubicacion {
    grid-area: section__ubicacion;
    height: 100vh;
    margin: 20px 50px;
}
.section__ubicacion div div a {
    text-decoration: none;
    color: #1a0dab;
}
.section__ubicacion div div a:hover {
    text-decoration: underline;
}
.section__ubicacion div div a:visited {
    color: #681da8;
}


/* PRODUCTOS */
.grid-container__producto {
    display: grid;
    grid-template-areas:
    "header"
    "section__producto"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    font-family: Arial, Helvetica, sans-serif;
}


.grid__contenedor__producto {
    grid-area: section__producto;
    height: 100%;
}


.grid__contenedor__producto h2 {
    background-color: #222333;
    color: white;
    display: inline-block;
    padding: 2px 5px;
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 1.8rem;
}
.grid__contenedor__producto h3 {
    font-size: 1.4rem;
}
.grid__contenedor__producto h5 {
    color: #777888;
    font-weight: 400;
    font-size: larger;
    margin-bottom: 3px;
}
.grid__contenedor__producto .section__img h4 {
    font-weight: 500;
    padding-bottom: 5px;
    font-size: x-large;
}
.grid__contenedor__producto .section__productos__hombre {
    padding: 20px 50px;
}
.grid__contenedor__producto .section__img :first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid__contenedor__producto .section__img li a {
    text-decoration: none;
    list-style: none;
    width: 250px;
    height: 330px;
    margin: auto;
}
.grid__contenedor__producto .section__img li {
    display: inline;
    margin: 5px;
    padding: 10px 16px;
}
.grid__contenedor__producto .section__img li:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .3);
    padding: 10px 16px;
}
.grid__contenedor__producto .section__img li .producto__info {
    border-top: 1px solid #777;
}
.grid__contenedor__producto .section__img li .producto__info button {
    background-color: rgb(213, 144, 15);
    border-radius: 4%;
    color: #333;
    border: 0;
    padding: 8px 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.grid__contenedor__producto .section__img li .producto__info button:hover {
    background-color: rgba(213, 144, 15, .88);
    color: black;
}
.grid__contenedor__producto .section__productos__hombre .section__hombre__zapatillas ul,
.grid__contenedor__producto .section__productos__hombre .section__hombre__remeras ul,
.grid__contenedor__producto .section__productos__hombre .section__hombre__pantalones ul,
.grid__contenedor__producto .section__productos__hombre .section__hombre__accesorios ul,
.grid__contenedor__producto .section__productos__mujer .section__mujer__zapatillas ul,
.grid__contenedor__producto .section__productos__mujer .section__mujer__remeras ul,
.grid__contenedor__producto .section__productos__mujer .section__mujer__pantalones ul,
.grid__contenedor__producto .section__productos__mujer .section__mujer__accesorios ul  {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    margin: 20px 0;
}
.grid__contenedor__producto .section__productos__hombre .section__hombre__zapatillas ul li,
.grid__contenedor__producto .section__productos__hombre .section__hombre__remeras ul li,
.grid__contenedor__producto .section__productos__hombre .section__hombre__pantalones ul li,
.grid__contenedor__producto .section__productos__hombre .section__hombre__accesorios ul li,
.grid__contenedor__producto .section__productos__mujer .section__mujer__zapatillas ul li,
.grid__contenedor__producto .section__productos__mujer .section__mujer__remeras ul li,
.grid__contenedor__producto .section__productos__mujer .section__mujer__pantalones ul li,
.grid__contenedor__producto .section__productos__mujer .section__mujer__accesorios ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.grid__contenedor__producto .section__productos__mujer {
    padding: 20px 50px;
}


/* INICIAR SESION */
.grid-container__sesion {
    display: grid;
    grid-template-areas:
    "header"
    "section__sesion"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    font-family: Arial, Helvetica, sans-serif;
}


.section__sesion {
    grid-area: section__sesion;
    background: linear-gradient(135deg, rgb(255, 238, 205), rgb(35, 28, 13));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section__sesion .sesion__container {
    background-color: white;
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}
.section__sesion h1 {
    padding: 0 30px;
    text-align: center;
    border-bottom: 1px solid #bcbcbc;
    padding-bottom: 20px;
}
form {
    padding: 0 35px;
    box-sizing: border-box;
}
form .username {
    position: relative;
    border-bottom: 2px solid #bcbcbc;
    margin: 30px 0;
}
.username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 1rem;
    border: none;
    background: none;
    outline: none;
}
.username label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #d3d7da;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    transition: .3s;
}
.username input:focus ~ label {
    top: -5px;
    color: rgb(213, 144, 15);
}
.recordar {
    text-align: center;
    margin: 35px 0 30px 0;
    color: rgb(213, 144, 15);
    cursor: pointer;
    font-size: 1rem;
}
input[type = 'submit'] {
    width: 100%;
    background-color: rgb(213, 144, 15);
    border-radius: 25px;
    color: #333;
    border: 0;
    padding: 13px 0;
}
input[type = 'submit']:hover {
    background-color: rgba(213, 144, 15, .88);
    color: black;
}
.registrarse {
    margin: 30px 0 35px 0;
    text-align: center;
    font-size: 1rem;
    color: rgb(213, 144, 15);
    cursor: pointer;
}
.check {
    height: 12px;
}




/* CONTACTO */
.grid-container__contacto {
    display: grid;
    grid-template-areas:
    "header"
    "section__contacto"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    font-family: Arial, Helvetica, sans-serif;
}


.section__contacto {
    grid-area: section__contacto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, rgb(255, 238, 205), rgb(35, 28, 13));
}
.section__contacto .contacto__container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}
.section__contacto h1 {
    padding: 0 30px;
    text-align: center;
    border-bottom: 1px solid #bcbcbc;
    padding-bottom: 20px;
}
.section__contacto .form img {
    width: 200px;
    height: auto;
    display: flex;
    margin: auto;
}
.section__contacto .form {
    padding: 0 35px;
    box-sizing: border-box;
}
form .form-email {
    position: relative;
    border: 1px solid #d3d7da;
    border-radius: 5px;
    margin: 30px 0;
}
.form-email input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 1rem;
    border: none;
    background: none;
    outline: none;
}
.form-email label {
    position: absolute;
    top: -50%;
    left: 5px;
    color: #d3d7da;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s;
}
form .form-mensaje {
    position: relative;
    border: 1px solid #d3d7da;
    border-radius: 5px;
    margin: 30px 0;
}
.form-mensaje label {
    position: absolute;
    top: -22px;
    left: 5px;
    color: #d3d7da;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s;
}
.form-mensaje textarea {
    padding: 5px;
    border: none;
    max-width: 500px;
    min-width: 500px;
    max-height: 200px;
    min-height: 100px;
}
.form-mensaje textarea:focus {
    border: none;
    outline: none;
}
.form-check {
    margin: 30px 0;
}
.form-enviar input{
    margin: 0 0 30px 0;
    width: 100%;
}
.form-email input:focus ~ label {
    display: none;
}