@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
/* HOME-INDEX */
/* .grid-container {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "section"
    "section2"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 650px 400px 450px auto;
    font-family: Arial, Helvetica, sans-serif;
}




.header {
    grid-area: header;
    background-color: rgb(213, 144, 15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 100%;
    z-index: 1;
}
.header .header__ul li {
    list-style: none;
}
.navbar-color {
    background-color: rgb(213, 144, 15);
}
.navbar a {
    color: black;
    font-weight: 500;
}
.navbar a:hover {
    color: white;
}
.navbar .nav-item-producto:focus {
    color: white;
}
.active {
    color: white !important;
}




main {
    grid-area: main;
    background-color: white;
    background-image: url(../img/homeInicio.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: center;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.main__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.main__boxmodel {
    text-align: center;
    color: black;
}
.main__boxmodel h2 {
    font-family: 'Nuosu SIL', serif;
    font-weight: 600;
    font-size: 77px;
}
.main__boxmodel p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 27px;
}
.main__boton {
    text-align: center;
    margin-top: 9px;
}
.main__boton a {
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 2PX;
    font-family: sans-serif;
    font-size: 18px;
}
.main__boton a:hover {
    border: 1px solid black;
    color: black;
}



.section {
    grid-area: section;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section__img {
    display: flex;
    justify-content: space-between;
    min-width: 150px;
    min-height: 150px;
}
.section__img li:hover {
    border: 1px solid #777;
}
.section__img :first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section__img :nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section__img :nth-child(4) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section__img li {
    display: inline;
    margin: 25px;
}



.section2 {
    grid-area: section2;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
}
.section__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.section__boxmodel2 {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 315px;
    padding: 30px;
}
.section__boxmodel2 ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section__boxmodel2 ul li {
    text-decoration: none;
    list-style: none;
}
.section__boxmodel2 ul li h3 {
    font-size: 21px;
}
.section__boxmodel2 .section__boxmodel2__p {
    font-size: 15px;
}
.section__video {
    display: flex;
    flex-direction: row;
}
.section__video iframe {
    padding: 30px;
}





.footer {
    grid-area: footer;
    background-color: #363738;
    width: 100%;
}
.footer .footer__contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
.footer .footer__contenedor .box__footer {
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.footer .footer__contenedor .box__footer .logo img {
    width: 65px;
}
.footer .footer__contenedor .box__footer .parrafo {
    max-width: 400px;
    margin-top: 11px;
    font-weight: 500;
    color: #d3d7da;
}
.footer .footer__contenedor .box__footer h2 {
    color: #bcbcbc;
    font-weight: 600;
}
.footer .footer__contenedor .box__footer a {
    margin-top: 10px;
    color: #d3d7da;
    font-weight: 500;
    text-decoration: none;
}
.footer .footer__contenedor .box__footer a:hover {
    opacity: .8;
}
.footer .footer__contenedor .box__footer a .fab {
    font-size: 20px;
}
.footer .box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.footer .box__copyright p {
    margin-top: 20px;
    color: #d3d7da;
    font-weight: 500;
}
.footer .box__copyright hr {
    border: none;
    height: 1px;
    background-color: #d3d7da;
} */




/* HEADER GLOBAL */
.header {
    grid-area: header;
    background: linear-gradient(90deg, rgb(213, 144, 15), rgb(213, 152, 21), rgb(201, 136, 16));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 100%;
    z-index: 1;
}
.header .header__ul li {
    list-style: none;
}
.navbar a {
    color: black;
    font-weight: 500;
}
.navbar a:hover {
    color: white;
}
.navbar .nav-item-producto:focus {
    color: white;
}
.active {
    color: white !important;
}

/* FOOTER GLOBAL */
.footer {
    grid-area: footer;
    background-color: #363738;
    width: 100%;
}
.footer .footer__contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
.footer .footer__contenedor .box__footer {
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.footer .footer__contenedor .box__footer .logo img {
    width: 65px;
}
.footer .footer__contenedor .box__footer .parrafo {
    max-width: 400px;
    margin-top: 11px;
    font-weight: 500;
    color: #d3d7da;
}
.footer .footer__contenedor .box__footer h2 {
    color: #bcbcbc;
    font-weight: 600;
}
.footer .footer__contenedor .box__footer a {
    margin-top: 10px;
    color: #d3d7da;
    font-weight: 500;
    text-decoration: none;
}
.footer .footer__contenedor .box__footer a:hover {
    opacity: .8;
}
.footer .footer__contenedor .box__footer a .fab {
    font-size: 20px;
}
.footer .box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.footer .box__copyright p {
    margin-top: 20px;
    color: #d3d7da;
    font-weight: 500;
}
.footer .box__copyright hr {
    border: none;
    height: 1px;
    background-color: #d3d7da;
}

/* SOBRENOSOTROS */
.grid-container__sobrenosotros {
    display: grid;
    grid-template-areas:
    "header"
    "section__nosotros"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    font-family: Arial, Helvetica, sans-serif;
}


.grid__contenedor__sobrenosotros {
    grid-area: section__nosotros;
}


.grid__contenedor__sobrenosotros .section__nosotros {
    min-height: 200px;
    padding: 20px 50px;
}
.grid__contenedor__sobrenosotros .section__nosotros div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.grid__contenedor__sobrenosotros .section__historia {
    min-height: 700px;
    padding: 50px;
}
.grid__contenedor__sobrenosotros .section__historia div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.grid__contenedor__sobrenosotros .section__historia div h2 {
    margin-bottom: 25px;
}


/* UBICACION */
.grid-container__ubicacion {
    display: grid;
    grid-template-areas:
    "header"
    "section__ubicacion"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    font-family: Arial, Helvetica, sans-serif;
}


.section__ubicacion {
    grid-area: section__ubicacion;
    height: 100vh;
    margin: 20px 50px;
}
.section__ubicacion div div a {
    text-decoration: none;
    color: #1a0dab;
}
.section__ubicacion div div a:hover {
    text-decoration: underline;
}
.section__ubicacion div div a:visited {
    color: #681da8;
}


/* PRODUCTOS */
.grid-container__producto {
    display: grid;
    grid-template-areas:
    "header"
    "section__producto"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    font-family: Arial, Helvetica, sans-serif;
}


.grid__contenedor__producto {
    grid-area: section__producto;
    height: 100%;
}


.grid__contenedor__producto .section__productos__hombre {
    padding: 20px 50px;
}
.grid__contenedor__producto ul li a {
    text-decoration: none;
    list-style: none;
}
.grid__contenedor__producto ul li:hover {
    border: 1px solid black;
}
.grid__contenedor__producto .section__productos__hombre .section__hombre__zapatillas ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    margin: 20px 0;
}
.grid__contenedor__producto .section__productos__hombre .section__hombre__zapatillas ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid__contenedor__producto .section__productos__hombre .section__hombre__remeras ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    margin: 20px 0;
}
.grid__contenedor__producto .section__productos__hombre .section__hombre__remeras ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid__contenedor__producto .section__productos__hombre .section__hombre__pantalones ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    margin: 20px 0;
}
.grid__contenedor__producto .section__productos__hombre .section__hombre__pantalones ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid__contenedor__producto .section__productos__hombre .section__hombre__accesorios ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    margin: 20px 0;
}
.grid__contenedor__producto .section__productos__hombre .section__hombre__accesorios ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.grid__contenedor__producto .section__productos__mujer {
    padding: 20px 50px;
}
.grid__contenedor__producto ul li a {
    text-decoration: none;
    list-style: none;
}
.grid__contenedor__producto .section__productos__mujer .section__mujer__zapatillas ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    margin: 20px 0;
}
.grid__contenedor__producto .section__productos__mujer .section__mujer__zapatillas ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid__contenedor__producto .section__productos__mujer .section__mujer__remeras ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    margin: 20px 0;
}
.grid__contenedor__producto .section__productos__mujer .section__mujer__remeras ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid__contenedor__producto .section__productos__mujer .section__mujer__pantalones ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    margin: 20px 0;
}
.grid__contenedor__producto .section__productos__mujer .section__mujer__pantalones ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid__contenedor__producto .section__productos__mujer .section__mujer__accesorios ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    margin: 20px 0;
}
.grid__contenedor__producto .section__productos__mujer .section__mujer__accesorios ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* INICIAR SESION */
.grid-container__sesion {
    display: grid;
    grid-template-areas:
    "header"
    "section__sesion"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    font-family: Arial, Helvetica, sans-serif;
}


.flex-container {
    grid-area: section__sesion;
    padding: 20px 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
form .section__link a {
    text-decoration: none;
    color: rgb(194, 131, 14);
}
form .section__input input {
    background-color: rgb(213, 144, 15);
    border-radius: 4%;
    color: #333;
    border: 0;
    padding: 8px 25px;
}
form .section__input input:hover {
    background-color: rgba(213, 144, 15, .88);
    color: black;
}




/* CONTACTO */
.grid-container__contacto {
    display: grid;
    grid-template-areas:
    "header"
    "section__contacto"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    font-family: Arial, Helvetica, sans-serif;
}


.section__contacto {
    grid-area: section__contacto;
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.section__contacto .form__section input {
    background-color: rgb(213, 144, 15);
    border-radius: 4%;
    color: #333;
    border: 0;
    padding: 5px 1rem;
}
.section__contacto .form__section input:hover {
    background-color: rgba(213, 144, 15, .88);
    color: black;
}