@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* HOME-INDEX */
    .grid-container {
        grid-template-rows: auto 480px auto 450px auto;
        font-size: 15px;
    }

    .header {
        font-size: 15px;
    }
    .header .header__nav__ul a,
    .header .header__ul li a {
        font-size: 13px;
    }
    .header .header__icono {
        width: 70px;
    }
    
    .main__boton a {
        font-size: 17px;
    }

    .footer .footer__contactenos img {
        width: 24px;
        height: auto;
        margin: 5px 0;
    }
}



@media only screen and (min-width: 480px) and (max-width: 992px) {
    /* HOME-INDEX */
    .grid-container {
        grid-template-rows: auto 380px auto auto auto;
        font-size: 13px;
    }


    .header nav {
        width: 100%;
        margin: 0 20px !important;
    }
    .header .header__icono {
        width: 45px;
    }
    .header .navbar .header__ul {
        padding-top: 20px !important;
        padding-left: 0 !important;
        padding-bottom: 10px !important;
    }
    .header .navbar form {
        width: 100%;
        padding: 0 !important;
    }

    .main__contenedor__texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .main__boxmodel h2 {
        font-size: 37px;
    }
    .main__boxmodel p {
        font-size: 14px;
    }
    .main__boton {
        margin-top: 6px;
    }
    .main__boton a {
        font-size: 11px;
    }

    .section .section__img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .section .section__img li a {
        min-width: 140px;
        max-width: 140px;
    }

    .section2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section2 .section__container .section__boxmodel2 .section__boxmodel2__p {
        text-align: center;
    }
    .section__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section__boxmodel2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    .section__boxmodel2 ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .section__boxmodel2 ul li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-decoration: none;
        list-style: none;
    }
    .section__boxmodel2 ul li h3 {
        padding-bottom: 20px;
    }
    .section__video {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
    }
    .section__video iframe {
        width: 450px;
        height: 220px;
    }

    .footer .footer__contactenos ul {
        gap: 15px;
    }
    .footer .footer__contactenos img {
        width: 22px;
        height: auto;
        margin: 6px 0;
    }
    


    /* CONTACTO */
    .grid-container__contacto {
        grid-template-rows: auto auto auto;
        font-size: 13px;
    }
    .section__contacto .boxmodel .form img {
        width: 190px;
    }


    /* INICIAR SESION */
    .grid-container__sesion {
        grid-template-rows: auto auto auto;
        font-size: 13px;
    }


    /* UBICACION */
    .grid-container__ubicacion {
        grid-template-rows: auto auto auto;
        font-size: 13px;
    }


    /* SOBRENOSOTROS */
    .grid-container__sobrenosotros {
        grid-template-rows: auto auto auto;
        font-size: 13px;
    }


    /* PRODUCTO */
    .grid-container__producto {
        grid-template-rows: auto auto auto;
        font-size: 13px;
    }
    .grid__contenedor__producto ul li a {
        width: 150px;
    }
    .grid__contenedor__producto .section__producto__zapatilla a {
        width: 125px;
    }
}



@media only screen and (max-width: 480px) {
    /* HOME-INDEX */
    .grid-container {
        grid-template-rows: auto 380px auto auto auto;
        font-size: 11px;
    }


    .header nav {
        width: 100%;
        margin: 0 20px !important;
    }
    .header .header__icono {
        width: 45px;
    }
    .header .navbar .header__ul {
        padding-top: 20px !important;
        padding-left: 0 !important;
        padding-bottom: 10px !important;
    }
    .header .navbar form {
        width: 100%;
        padding: 0 !important;
    }


    .main__contenedor__texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .main__boxmodel h2 {
        font-size: 30px;
    }
    .main__boxmodel p {
        font-size: 11px;
    }
    .main__boton {
        margin-top: 4px;
    }
    .main__boton a {
        font-size: 7px;
    }


    .section .section__img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .section .section__img li a {
        min-width: 140px;
        max-width: 140px;
    }


    .section2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section2 .section__container .section__boxmodel2 .section__boxmodel2__p {
        text-align: center;
    }
    .section__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section__boxmodel2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 20px 20px 0 ;
    }
    .section__boxmodel2 ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .section__boxmodel2 ul li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-decoration: none;
        list-style: none;
    }
    .section__boxmodel2 ul li h3 {
        padding-bottom: 20px;
        font-size: 15px;
    }
    .section__boxmodel2 .section__boxmodel2__p {
        font-size: 11px;
    }
    .section__video {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
    .section__video iframe {
        width: 330px;
        height: 200px;
    }


    .footer .footer__contactenos ul {
        gap: 13px;
    }
    .footer .footer__contactenos img {
        width: 20px;
        height: auto;
    }
    


    /* CONTACTO */
    .grid-container__contacto {
        grid-template-rows: auto auto auto;
        font-size: 11px;
    }
    .section__contacto .boxmodel .form img {
        width: 130px;
    }


    /* INICIAR SESION */
    .grid-container__sesion {
        grid-template-rows: auto auto auto;
        font-size: 11px;
    }


    /* UBICACION */
    .grid-container__ubicacion {
        grid-template-rows: auto auto auto;
        font-size: 11px;
    }


    /* SOBRENOSOTROS */
    .grid-container__sobrenosotros {
        grid-template-rows: auto auto auto;
        font-size: 11px;
    }


    /* PRODUCTO */
    .grid-container__producto {
        grid-template-rows: auto auto auto;
        font-size: 11px;
    }
    .grid__contenedor__producto ul li a {
        width: 130px;
    }
    .grid__contenedor__producto .section__producto__zapatilla a {
        width: 90px;
    }
    .grid__contenedor__producto div ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}