@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* HOME-INDEX */
    .grid-container {
        grid-template-rows: auto 480px auto 450px auto;
        font-size: 1rem;
    }

    .header .header__nav .nav__icono {
    margin: 0 -25px;
    }
    .header .header__nav .nav__usuario {
    margin: 0 25px;
    }
    .footer .footer-container {
    margin-left: -25px;
    }
}



@media only screen and (min-width: 481px) and (max-width: 991px) {
    /* HOME-INDEX */
    .grid-container {
        grid-template-rows: auto 380px auto auto auto;
        font-size: 13px;
    }


    .header .header__nav {
    flex-direction: column;
    height: 101%;
    }
    .header .header__nav .nav__icon {
    display: flex;
    margin: 0 50px;
    flex-direction: column;
    justify-content: end;
    height: 58px;
    width: 100%;
    }
    .header .header__nav #label__check {
    display: block;
    }
    .header .header__nav #nav__check:checked ~ .nav__icono {
    margin-top: 1rem;
    height: 100%;
    visibility: visible;
    opacity: 1;
    }
    .header .header__nav #nav__check:checked ~ .nav__menu {
    height: 100%;
    visibility: visible;
    opacity: 1;
    }
    .header .header__nav #nav__check:checked ~ .nav__usuario {
    height: 100%;
    visibility: visible;
    opacity: 1;
    margin-bottom: 1rem;
    }
    .header .header__nav .nav__icono {
    width: 50px;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
    }
    .header .header__nav .nav__menu {
    flex-direction: column;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
    }
    .header .header__nav .nav__menu ul {
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
    gap: 25px;
    }
    .header .header__nav .nav__menu ul li {
    padding: 0 50px;
    width: 100%;
    }
    .header .header__nav .nav__menu ul li a {
    font-size: 1rem;
    width: 100%;
    }
    .header .header__nav .nav__menu .nav__form {
    justify-content: start;
    padding: 0 50px;
    margin: 10px 0;
    }
    .header .header__nav .nav__menu .nav__form input {
    width: 100%;
    }
    .header .header__nav .nav__usuario {
    margin: 10px 0;
    padding: 0 50px;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
    }
    .header .header__nav .nav__menu ul li ul {
    width: 130px;
    top: 175px;
    }
    .header .header__nav .nav__menu ul li ul li {
    margin-left: -3.2rem;
    width: 150%;
    }
    .header .header__nav .nav__menu ul li ul li a {
    font-size: 12px;
    padding: 5px 20px;
    width: 140%;
    }
    .header .header__nav .nav__menu ul li ul li a:hover {
    transform: scale(1);
    font-size: 12px;
    }
    .header .header__nav .nav__menu ul li:hover ul {
    top: 170px;
    }



    .footer .footer__contenedor .box__footer .logo img {
        width: 50px;
    }
    


    /* CONTACTO */
    .grid-container__contacto {
        grid-template-rows: auto auto auto;
        font-size: 13px;
    }
    .section__contacto .form-mensaje textarea {
        max-width: 300px;
        min-width: 300px;
        max-height: 300px;
        min-height: 100px;
    }


    /* INICIAR SESION */
    .grid-container__sesion {
        grid-template-rows: auto auto auto;
        font-size: 13px;
    }


    /* UBICACION */
    .grid-container__ubicacion {
        grid-template-rows: auto auto auto;
        font-size: 13px;
    }


    /* SOBRENOSOTROS */
    .grid-container__sobrenosotros {
        grid-template-rows: auto auto auto;
        font-size: 13px;
    }
    .grid__contenedor__sobrenosotros .section__nosotros div {
        flex-direction: column;
        align-items: center;
    }
    .grid__contenedor__sobrenosotros .section__nosotros div img {
        width: 275px;
        height: auto;
    }
    .grid__contenedor__sobrenosotros .section__nosotros div ul {
        width: 300px;
        height: 413px;
        text-align: center;
    }
    .grid__contenedor__sobrenosotros .section__nosotros div ul li {
        list-style: square;
        font-family: 'Josefin Sans', sans-serif;
    }


    /* PRODUCTO */
    .grid-container__producto {
        grid-template-rows: auto auto auto;
        font-size: 13px;
    }
    .grid__contenedor__producto ul li {
        display: inline;
        padding: 10px 16px;
    }
    .grid__contenedor__producto ul li:hover {
        display: inline;
        padding: 10px 16px;
    }
    .grid__contenedor__producto ul li a {
        width: 150px;
        height: 270px;
        margin-left: auto;
        margin-right: auto;
    }
    .grid__contenedor__producto .section__img :first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


@media only screen and (min-width: 481px) and (max-width: 510px){
    /* SOBRENOSOTROS */
    .grid__contenedor__sobrenosotros .section__historia {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}



@media only screen and (max-width: 480px) {
    /* HOME-INDEX */
    .grid-container {
        grid-template-rows: auto 380px auto auto auto;
        font-size: 11px;
    }


    .header .header__nav {
    flex-direction: column;
    height: 101%;
    }
    .header .header__nav .nav__icon {
    display: flex;
    margin: 0 50px;
    flex-direction: column;
    justify-content: end;
    height: 58px;
    width: 100%;
    }
    .header .header__nav #label__check {
    display: block;
    }
    .header .header__nav #nav__check:checked ~ .nav__icono {
    margin-top: 1rem;
    height: 100%;
    visibility: visible;
    opacity: 1;
    }
    .header .header__nav #nav__check:checked ~ .nav__menu {
    height: 100%;
    visibility: visible;
    opacity: 1;
    }
    .header .header__nav #nav__check:checked ~ .nav__usuario {
    height: 100%;
    visibility: visible;
    opacity: 1;
    margin-bottom: 1rem;
    }
    .header .header__nav .nav__icono {
    width: 50px;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
    }
    .header .header__nav .nav__menu {
    flex-direction: column;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
    }
    .header .header__nav .nav__menu ul {
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
    gap: 25px;
    }
    .header .header__nav .nav__menu ul li {
    padding: 0 50px;
    width: 100%;
    }
    .header .header__nav .nav__menu ul li a {
    font-size: 1rem;
    width: 100%;
    }
    .header .header__nav .nav__menu .nav__form {
    justify-content: start;
    padding: 0 50px;
    margin: 10px 0;
    }
    .header .header__nav .nav__menu .nav__form input {
    width: 100%;
    }
    .header .header__nav .nav__usuario {
    margin: 10px 0;
    padding: 0 50px;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
    }
    .header .header__nav .nav__menu ul li ul {
    width: 130px;
    top: 175px;
    }
    .header .header__nav .nav__menu ul li ul li {
    margin-left: -3.2rem;
    width: 150%;
    }
    .header .header__nav .nav__menu ul li ul li a {
    font-size: 12px;
    padding: 5px 20px;
    width: 140%;
    }
    .header .header__nav .nav__menu ul li ul li a:hover {
    transform: scale(1);
    font-size: 12px;
    }
    .header .header__nav .nav__menu ul li:hover ul {
    top: 170px;
    }



    .footer .footer__contenedor .box__footer .logo img {
        width: 50px;
    }


    


    /* CONTACTO */
    .grid-container__contacto {
        grid-template-rows: auto auto auto;
        font-size: 11px;
    }
    .section__contacto .form-mensaje textarea {
        max-width: 200px;
        min-width: 200px;
        max-height: 400px;
        min-height: 100px;
    }


    /* INICIAR SESION */
    .grid-container__sesion {
        grid-template-rows: auto auto auto;
        font-size: 11px;
    }


    /* UBICACION */
    .grid-container__ubicacion {
        grid-template-rows: auto auto auto;
        font-size: 12px;
    }
    .section__ubicacion {
        margin: 20px 25px;
    }
    .section__ubicacion2 .ubicacion2-container .direc h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 0;
    }
    .section__ubicacion2 .ubicacion2-container .direc p {
        padding: 45px 10px;
        text-align: center;
        text-transform: uppercase;
    }


    /* SOBRENOSOTROS */
    .grid-container__sobrenosotros {
        grid-template-rows: auto auto auto;
        font-size: 11px;
    }
    .grid__contenedor__sobrenosotros .section__nosotros {
        padding: 20px 25px;
    }
    .grid__contenedor__sobrenosotros .section__historia {
        padding: 25px;
    }
    .grid__contenedor__sobrenosotros .section__nosotros div {
        flex-direction: column;
        align-items: center;
    }
    .grid__contenedor__sobrenosotros .section__nosotros div img {
        width: 275px;
        height: auto;
    }
    .grid__contenedor__sobrenosotros .section__nosotros div ul {
        width: 300px;
        height: 413px;
        text-align: center;
    }
    .grid__contenedor__sobrenosotros .section__nosotros div ul li {
        list-style: square;
        font-family: 'Josefin Sans', sans-serif;
    }
    .grid__contenedor__sobrenosotros .section__historia {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    


    /* PRODUCTO */
    .grid-container__producto {
        grid-template-rows: auto auto auto;
        font-size: 11px;
    }

    .grid__contenedor__producto .section__productos__hombre,
    .grid__contenedor__producto .section__productos__mujer {
        padding: 20px 25px;
    }
    .grid__contenedor__producto ul li {
        display: inline;
        padding: 10px 16px;
    }
    .grid__contenedor__producto ul li:hover {
        display: inline;
        padding: 10px 16px;
    }
    .grid__contenedor__producto ul li a {
        width: 130px;
        height: 255px;
        margin-left: auto;
        margin-right: auto;
    }
    .grid__contenedor__producto .section__img :first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .grid__contenedor__producto div .section__img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}