@import "vars-sass2";

/* CONTACTO */
.grid-container__contacto {
    display: grid;
    grid-template-areas:
    "header"
    "section__contacto"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    font-family: Arial, Helvetica, sans-serif;
    .section__contacto {
        grid-area: section__contacto;
        @include fc;
        justify-content: center;
        align-items: center;
        height: 150vh;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        background: linear-gradient(135deg, rgb(255, 238, 205), rgb(35, 28, 13));
        .contacto__container {
            background-color: #fcfaf7;
            border-radius: 45px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .7);
            h1 {
                padding: 0 30px;
                text-align: center;
                border-bottom: 1px solid #bcbcbc;
                padding-bottom: 20px;
            }
            .form {
                padding: 0 35px;
                box-sizing: border-box;
                img {
                    width: 200px;
                    height: auto;
                    display: flex;
                    margin: auto;
                }
                .form-email {
                    position: relative;
                    border: 1px solid #d3d7da;
                    border-radius: 5px;
                    margin: 30px 0;
                    input {
                        width: 100%;
                        padding: 0 5px;
                        height: 40px;
                        font-size: 1rem;
                        border: none;
                        background: none;
                        outline: none;
                    }
                    label {
                        position: absolute;
                        top: -50%;
                        left: 5px;
                        color: #d3d7da;
                        font-size: 1rem;
                        pointer-events: none;
                        transition: .3s;
                    }
                }
                .form-email input:focus ~ label {
                    display: none;
                }
                .form-mensaje {
                    position: relative;
                    border: 1px solid #d3d7da;
                    border-radius: 5px;
                    margin: 30px 0;
                    label {
                        position: absolute;
                        top: -22px;
                        left: 5px;
                        color: #d3d7da;
                        font-size: 1rem;
                        pointer-events: none;
                        transition: .3s;
                    }
                    textarea {
                        padding: 5px;
                        border: none;
                        max-width: 500px;
                        min-width: 500px;
                        max-height: 200px;
                        min-height: 100px;
                    }
                    textarea:focus {
                        border: none;
                        outline: none;
                    }
                }
                .form-check {
                    margin: 30px 0;
                }
                .form-enviar {
                    input{
                        margin: 0 0 30px 0;
                        width: 100%;
                        border-radius: 25px;
                        @include btn ($colorPrincipal, 13px 0, 25px);
                        cursor: pointer;
                    }
                    input:hover{
                        background-color: rgba(213, 144, 15, .88);
                        color: black;
                    }
                }
            }
        }
    }
    .footerC {
        @extend .footer;
        background-color: rgba(54, 55, 56, 1);
        margin-top: -5px;
        .box__footer--cajas {
            @extend .box__footer--caja;
            background-color: #363738 !important;
        }
    }
}