@import "vars-sass2";

/* HOME-INDEX */
.grid-container {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "section"
    "section2"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 650px auto 450px auto;
    font-family: $fontPrincipal;  
    
    main {/* MAIN */
        grid-area: main;
        background-color: white;
        background-image: url(../img/homeInicio.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-position: center;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        .main__contenedor__texto {
            @include fc;
            justify-content: center;
            height: 100%;
            .main__boxmodel {
                text-align: center;
                color: white;
                background-color: rgba(0, 0, 0, .3);
                border-radius: 2%;
                padding: 2px 25px 10px;
                h1 {
                    font-family: 'Nuosu SIL', serif;
                    font-weight: 600;
                    font-size: 5rem;
                    margin: 0;
                }
                p {
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 1.8rem;
                    margin-top: 5px;
                }
            }
            .main__boton {
                text-align: center;
                margin-top: 9px;
                width: 100%;
                a {
                    text-decoration: none
                }
                button {
                    @include btn(black, 8px 25px, 4%);
                    margin: auto;
                    color: white;
                    text-transform: uppercase;
                    font-weight: 600;
                    cursor: pointer;
                }
                button:hover {
                    background-color: #222222;
                    transition: all 150ms;
                }
            }    
        }
    }

    .section {/* SECTION */
        grid-area: section;
        height: 100%;
        @include fc;
        justify-content: center;
        font-family: $fontPrincipal;
        &__container__producto {
            margin: 40px 0;
            padding: 2px 16px;
            h2 {
                width: 100%;
                display: flex;
                @include fr;
                justify-content: center;
                text-transform: uppercase;
                color: transparent;
                background-color: #b3b3b3;
                text-shadow: 2px 2px 3px rgba(255, 255, 255, .8);
                margin: -10px 0 1rem;
                -webkit-background-clip: text;
                    -moz-background-clip: text;
                        background-clip: text;
            }
            .section__img {
                display: flex;
                justify-content: space-around;
                :first-child,
                :nth-child(2),
                :nth-child(3),
                :nth-child(4) {
                    @include fc;
                    justify-content: center;
                }
                li {
                    display: flex;
                    gap: 10px;
                    width: 260px;
                    height: 475px;
                    padding: 15px;
                    .producto__info {
                        border-top: 1px solid #777;
                        button {
                            @include btn($colorPrincipal, 8px 25px, 4%);
                            width: 100%;
                            cursor: pointer;
                        }
                        button:hover {
                            background-color: rgba(213, 144, 15, .88);
                            color: black;
                        }
                        h3 {
                            font-weight: 500;
                            padding-bottom: 5px;
                            font-size: x-large;
                        }
                        h4 {
                            color: #777888;
                            font-weight: 400;
                            font-size: larger;
                            margin-bottom: 3px;
                        }
                        a {
                            text-decoration: none;
                        }
                    }
                    .a-producto {
                        width: 220px;
                        height: 330px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                li:hover {
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .3);
                }
            }
        }
    }

    .section2 {/* SECTION2 */
        grid-area: section2;
        height: 100%;
        width: auto;
        @include fc;
        justify-content: center;
        font-family: $fontPrincipal;
        background-color: #eee;
        z-index: 1;
        .section__container {
            @include fr;
            justify-content: space-evenly;
            .section__boxmodel2 {
                @include fc;
                width: 550px;
                height: 315px;
                padding: 30px;
                ul {
                    height: 100%;
                    @include fc;
                    justify-content: space-between;
                    li {
                        text-decoration: none;
                        list-style: none;
                    }
                }   
            }
            .section__video {
                @include fr;
                iframe {
                    padding: 30px;
                    width: 560px;
                    height: 315px;
                    border: 0;
                }
            }
        }
    }
}

.header {/* HEADER GLOBAL*/
    grid-area: header;
    background: linear-gradient(90deg, rgb(213, 144, 15), rgb(213, 152, 21), rgb(201, 136, 16));
    @include fr;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    
    &__nav {
        @include fr;
        margin: auto;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        .nav__icon {
            font-size: 35px;
            color: black;
            cursor: pointer;
            width: 35px;
            height: 100%;
            display: flex;
            align-items: center;
            margin-top: auto;
            display: none;
        }
        #nav__check {
            display: none;
        }
        #label__check {
            width: 35px;
            height: 100%;
            display: none;
        }
        .nav__icono {
            img {
                width: 65px;
                height: auto;
                margin: 10px 50px;
            }
        }
        .nav__menu {
            @include fr;
            justify-content: space-around;
            margin: auto;
            width: 100%;
            ul {
                @include fr;
                justify-content: center;
                gap: 15px;
                li {
                    .active {
                        color: white;
                    }
                    list-style: none;
                    @include fc;
                    ul {
                        width: 130px;
                        @include fc;
                        background: #fff;
                        position: absolute;
                        top: 70px;
                        padding: 13px 0px;
                        visibility: hidden;
                        opacity: 0;
                        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
                        z-index: 10;
                        transition: all 300ms ease;
                        li {
                            a{
                                @extend .a;
                                display: block;
                                /* color: black;
                                font-size: 14px; */
                                text-transform: uppercase;
                                transition: all 400ms ease;
                                padding: 5px 15px;
                                text-align: left;
                                width: 100%;
                            }
                            a:hover{
                                background: $colorPrincipal;
                                transform: scale(1.1);
                                font-size: 14px;
                                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
                            }
                        }
                    }
                    .menu__productos {
                        cursor: pointer;
                    }
                }
                li:hover ul{
                    visibility: visible;
                    opacity: 1;
                    top: 65px;
                    position: absolute;
                }
                .a {
                    text-decoration: none;
                    color: black;
                    font-size: 1rem;
                    margin: auto;
                }
                a:hover {
                    color: white;
                    transition: all .25s;
                }
            }
            .nav__form {
                @include fr;
                justify-content: end;
                align-items: center;
                gap: 1rem;
                input {
                    height: 38px;
                    width: 230px;
                    padding: 10px;
                    border: 1px solid #d3d7da;
                }
                input:focus {
                    border: 1px solid #777888;
                    outline: none;
                    transition: all 1s;
                }
                button {
                    height: auto;
                    width: 24px;
                    background: none;
                    border: none;
                    cursor: pointer;
                    @include fc;
                    justify-content: end;
                }
            }
        }
        .nav__usuario {
            @include fc;
            justify-content: center;
            margin: 0 50px;
            a {
                width: 35px;
                height: auto;
                img {
                    @include fr;
                    justify-content: center;
                    justify-items: center;
                }
            }
        }
    }
}

.footer {/* FOOTER GLOBAL*/
    grid-area: footer;
    background-color: #eee;
    background-image: url(../img/wave3.svg);
    background-size: cover;
    width: 100%;
    margin-top: -75px;
    &-container {
        padding-top: 150px;
        .footer__contenedor {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: auto;
            .box__footer {
                @include fc;
                padding: 50px;
                .logo img {
                    width: 65px;
                }
                .parrafo {
                    max-width: 400px;
                    margin-top: 11px;
                    font-weight: 500;
                    color: #d3d7da;
                    p {
                        font-style: italic;
                    }
                }
                h2 {
                    color: #bcbcbc;
                    font-weight: 600;
                    font-size: 2rem;
                    margin-bottom: 20px;
                }
                a {
                    margin-top: 1rem;
                    color: #d3d7da;
                    font-weight: 500;
                    text-decoration: none;
                    .fab {
                        font-size: 20px;
                    }
                }
                a:hover {
                    opacity: .8;
                }
                @each $nombre, $valor in $redes-sociales{
                    .a-reds--#{$nombre}:hover {
                        color: $valor;
                    }
                }
            }
            
        }
        .box__copyright {
            max-width: 1200px;
            margin: auto;
            text-align: center;
            padding: 0px 40px;
            p {
                margin: 20px 0;
                color: #d3d7da;
                font-weight: 500;
            }
            hr {
                border: none;
                height: 1px;
                background-color: #d3d7da;
            }
        }
    }
}