/* RESPONSIVE */
@media only screen and (min-width: 2000px) {
    .header{
        height: 102%;
    }
}
@media only screen and (min-width: 1500px) and (max-width: 1999px) {
    .header{
        height: 102%;
    }
}
@media only screen and (min-width: 1201px) and (max-width: 1499px) {
    .header{
        height: 102%;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
    /* HOME-INDEX */
    .grid-container {
        grid-template-rows: auto 480px auto 550px auto;
        font-size: 1rem;
    }

    .header {
        .header__nav {
            .nav__icono {
                margin: 0 -25px;
            }
            .nav__usuario {
                margin: 0 25px;
            }
        }
    }

    .footer {
        height: 110%;
        .footer-container {
            margin-left: -25px;
            .box__footer--caja {
                margin-left: -25px;
            }
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 991px) {
    /* HOME-INDEX */
    .grid-container {
        grid-template-rows: auto 380px auto auto auto;
        font-size: 13px;
        
        main {
            .main__contenedor__texto {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                .main__boxmodel {
                    h1 {
                        font-size: 37px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
                .main__boton {
                    margin-top: 6px;
                    a {
                        font-size: 11px;
                    }
                }
            }
        }
    
        .section {
            .section__container__producto {
                .section__img {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    li {
                        width: 210px;
                        height: 440px;
                        .a-producto {
                            min-width: 170px;
                            max-width: 170px;
                            max-height: 280px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
            }
        }
    
        .section2 {
            display: flex;
            flex-direction: column;
            padding: 50px 0 120px;
            .section__container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .section__boxmodel2 {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    padding: 30px 20px;
                    ul {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        li {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            text-decoration: none;
                            list-style: none;
                            h2 {
                                padding-bottom: 18px;
                            }
                            p {
                                text-align: center;
                            }
                        }
                    }
                }

                .section__video {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin-bottom: 20px;
                    iframe {
                        width: 450px;
                        height: 220px;
                    }
                }
            }
        }
    }

    .header {
        .header__nav {
            flex-direction: column;
            height: 101%;
            .nav__icono--responsive {
                display: flex;
                position: absolute;
                height: 100px;
                padding: 0 0 10px 50px;
                flex-direction: column;
                justify-content: center;
                img {
                    width: 56px;
                }
            }
            .nav__icon {
                font-size: 45px;
                display: flex;
                height: 50px;
            }
            #label__check {
                display: block;
                margin-left: auto;
                padding: 19px 75px 0 0;
            }
            #nav__check {
                display: none;
            }
            #nav__check:checked ~ .nav__menu {
                margin-top: 2rem;
                height: 100%;
                visibility: visible;
                opacity: 1;
            }
            #nav__check:checked ~ .nav__usuario {
                height: 100%;
                visibility: visible;
                opacity: 1;
                margin-bottom: 1rem;
            }
            .nav__icono {
                width: 50px;
                height: 0px;
                opacity: 0;
                visibility: hidden;
                transition: all 550ms ease;
            }
            .nav__menu {
                flex-direction: column;
                height: 0px;
                opacity: 0;
                visibility: hidden;
                transition: all 550ms ease;
                ul {
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 10px 0;
                    gap: 25px;
                    li {
                        padding: 0 50px;
                        width: 100%;
                        a{
                            font-size: 1rem;
                            width: 100%;
                        }
                        ul {
                            width: 130px;
                            top: 125px;
                            li {
                                margin-left: -3.2rem;
                                width: 150%;
                                a{
                                    font-size: 12px;
                                    padding: 5px 20px;
                                    width: 140%;
                                }
                                a:hover{
                                    transform: scale(1);
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    li:hover ul{
                        top: 135px;
                    }
                }
                .nav__form {
                    justify-content: start;
                    padding: 0 50px;
                    margin: 10px 0;
                    input {
                        width: 100%;
                    }
                }
            }
            .nav__usuario {
                margin: 10px 0;
                padding: 0 50px;
                height: 0px;
                opacity: 0;
                visibility: hidden;
                transition: all 550ms ease;
            }
        }
    }

    /* PRODUCTO */
    .grid-container__producto {
        grid-template-rows: auto auto auto;
        font-size: 13px;
        ul {
            .section__img {
                .section__img :first-child {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                li {
                    display: inline;
                    padding: 10px 16px;
                    a {
                        width: 150px;
                        height: 270px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                li:hover {
                    display: inline;
                    padding: 10px 16px;
                }
            }
        }
    }

    /* UBICACION */
    .grid-container__ubicacion {
        grid-template-rows: auto auto auto;
        font-size: 13px;
    }

    /* SOBRE NOSOTROS */
    .grid-container__sobrenosotros {
        grid-template-rows: auto auto auto;
        font-size: 13px;
        .section__nosotros {
            div {
                flex-direction: column;
                align-items: center;
                div {
                    ul {
                        width: 300px;
                        text-align: center;                    
                    }
                }
            }
        }
    }

    /* SESION */
    .grid-container__sesion {
        grid-template-rows: auto auto auto;
        font-size: 13px;
        .section__sesion {
            height: 100vh !important;
        }
    }

    /* CONTACTO */
    .grid-container__contacto {
        grid-template-rows: auto auto auto;
        font-size: 13px;
        .section__contacto {
            height: 100vh !important;
            .contacto__container {
                .form {
                    .form-mensaje {
                        .form-control {
                            max-width: 300px;
                            min-width: 300px;
                            max-height: 300px;
                            min-height: 100px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 510px){
    /* SOBRENOSOTROS */
    .grid-container__sobrenosotros {
        .grid__contenedor__sobrenosotros {
            .section__historia {
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    /* HOME-INDEX */
    .grid-container {
        grid-template-rows: auto 380px auto auto auto;
        font-size: 11px;
        
        main {
            .main__contenedor__texto {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                .main__boxmodel {
                    h1 {
                        font-size: 30px;
                    }
                    p {
                        font-size: 11px;
                    }
                }
                .main__boton {
                    margin-top: 4px;
                    a {
                        font-size: 7px;
                    }
                }
            }
        }
    
        .section {
            .section__container__producto {
                .section__img {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    li {
                        width: 220px;
                        height: 350px;
                        .a-producto {
                            min-width: 140px;
                            max-width: 140px;
                            max-height: 240px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
            }
        }
    
        .section2 {
            display: flex;
            flex-direction: column;
            padding: 50px 0 150px;
            .section2 .section__container .section__boxmodel2 .section__boxmodel2__p {
                text-align: center;
            }
            .section__container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .section__boxmodel2 {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    padding: 30px 20px 0 ;
                    ul {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        li {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            text-decoration: none;
                            list-style: none;
                            h2 {
                                padding-bottom: 18px;
                            }
                            p {
                                text-align: center;
                            }
                        }
                    }
                }
                .section__video {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    iframe {
                        width: 330px;
                        height: 200px;
                    }
                }
            }
            
        }
    }

    .header {
        .header__nav {
            flex-direction: column;
            height: 101%;
            .nav__icono--responsive {
                display: flex;
                position: absolute;
                height: 78px;
                padding: 0 0 0 50px;
                flex-direction: column;
                justify-content: center;
            }
            .nav__icon {
                display: flex;
                height: 35px;
            }
            #label__check {
                display: block;
                margin-left: auto;
                padding: 19px 75px 0 0;
            }
            #nav__check {
                display: none;
            }
            #nav__check:checked ~ .nav__menu {
                margin-top: 2rem;
                height: 100%;
                visibility: visible;
                opacity: 1;
            }
            #nav__check:checked ~ .nav__usuario {
                height: 100%;
                visibility: visible;
                opacity: 1;
                margin-bottom: 1rem;
            }
            .nav__icono {
                width: 50px;
                height: 0px;
                opacity: 0;
                visibility: hidden;
                transition: all 550ms ease;
            }
            .nav__menu {
                flex-direction: column;
                height: 0px;
                opacity: 0;
                visibility: hidden;
                transition: all 550ms ease;
                ul {
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 10px 0;
                    gap: 25px;
                    li {
                        padding: 0 50px;
                        width: 100%;
                        a{
                            font-size: 1rem;
                            width: 100%;
                        }
                        ul {
                            width: 130px;
                            top: 100px;
                            li {
                                margin-left: -3.2rem;
                                width: 150%;
                                a{
                                    font-size: 12px;
                                    padding: 5px 20px;
                                    width: 140%;
                                }
                                a:hover{
                                    transform: scale(1);
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    li:hover ul{
                        top: 110px;
                    }
                }
                .nav__form {
                    justify-content: start;
                    padding: 0 50px;
                    margin: 10px 0;
                    input {
                        width: 100%;
                    }
                }
            }
            .nav__usuario {
                margin: 10px 0;
                padding: 0 50px;
                height: 0px;
                opacity: 0;
                visibility: hidden;
                transition: all 550ms ease;
            }
        }
    }

    .footer {
        margin-top: -3px;
        .footer-container {
            .footer__contenedor {
                .box__footer {
                    .logo img {
                        width: 50px;
                    }
                }
            }
        }
    }

    /* PRODUCTO */
    .grid-container__producto {
        grid-template-rows: auto auto auto;
        font-size: 11px;
        .grid__contenedor__producto {
            .h1 {
                font-size: 1.92rem;
            }
            .section__productos__hombre,
            .section__productos__mujer {
                padding: 20px 25px;
                .section__img {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                .section__img :first-child {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                ul {
                    li {
                        display: inline;
                        padding: 10px 16px;
                        a {
                            width: 130px;
                            height: 255px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                    li:hover {
                        display: inline;
                        padding: 10px 16px;
                    }
                }
            }
        }
    }

    /* UBICACION */
    .grid-container__ubicacion {
        grid-template-rows: auto auto auto;
        font-size: 12px;
        .section__ubicacion {
            margin: 20px 25px;
        }
        .section__ubicacion2 {
            .ubicacion2-container {
                .card__father {
                    .card {
                        .card__front {
                            .direc {
                                .h2 {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    height: 100%;
                                    padding: 0;
                                }
                                .p {
                                    padding: 45px 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* SOBRE NOSOTROS */
    .grid-container__sobrenosotros {
        grid-template-rows: auto auto auto;
        font-size: 11px;
        .grid__contenedor__sobrenosotros {
            .section__nosotros {
                padding: 20px 25px;
                div {
                    flex-direction: column;
                    align-items: center;
                    div {
                        ul {
                            width: 250px;
                            text-align: center;
                        }
                    }
                }
            }
            .section__historia {
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }
        }
    }

    /* SESION */
    .grid-container__sesion {
        grid-template-rows: auto auto auto;
        font-size: 11px;
        .section__sesion {
            height: 100vh !important;
        }
    }

    /* CONTACTO */
    .grid-container__contacto {
        grid-template-rows: auto auto auto;
        font-size: 11px;
        .section__contacto {
            height: 100vh !important;
            .contacto__container {
                .form {
                    .form-mensaje {
                        .form-control {
                            max-width: 200px;
                            min-width: 200px;
                            max-height: 400px;
                            min-height: 100px;
                        }
                    }
                }
            }
        }
    }
}