@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HOME-INDEX */
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "section" "section2" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 650px auto 450px auto;
  font-family: Arial, Helvetica, sans-serif;
}
.grid-container .header {
  /* HEADER */
  grid-area: header;
  background: linear-gradient(90deg, rgb(213, 144, 15), rgb(213, 152, 21), rgb(201, 136, 16));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.grid-container .header .header__nav {
  display: flex;
  flex-direction: row;
  margin: auto;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}
.grid-container .header .header__nav .nav__icon {
  font-size: 35px;
  color: black;
  cursor: pointer;
  width: 35px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: auto;
  display: none;
}
.grid-container .header .header__nav #nav__check {
  display: none;
}
.grid-container .header .header__nav #label__check {
  width: 35px;
  height: 100%;
  display: none;
}
.grid-container .header .header__nav .nav__icono img {
  width: 65px;
  height: auto;
  margin: 10px 50px;
}
.grid-container .header .header__nav .nav__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  width: 100%;
}
.grid-container .header .header__nav .nav__menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
.grid-container .header .header__nav .nav__menu ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.grid-container .header .header__nav .nav__menu ul li ul {
  width: 130px;
  display: flex;
  flex-direction: column;
  background: #fff;
  position: absolute;
  top: 70px;
  padding: 13px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all 300ms ease;
}
.grid-container .header .header__nav .nav__menu ul li ul li a {
  display: block;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 400ms ease;
  padding: 5px 15px;
  text-align: left;
  width: 100%;
}
.grid-container .header .header__nav .nav__menu ul li ul li a:hover {
  background: rgb(213, 144, 15);
  transform: scale(1.1);
  font-size: 14px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.grid-container .header .header__nav .nav__menu ul li .menu__productos {
  cursor: pointer;
}
.grid-container .header .header__nav .nav__menu ul li:hover ul {
  visibility: visible;
  opacity: 1;
  top: 65px;
  position: absolute;
}
.grid-container .header .header__nav .nav__menu ul a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  margin: auto;
}
.grid-container .header .header__nav .nav__menu ul a:hover {
  color: white;
  transition: all 0.25s;
}
.grid-container .header .header__nav .nav__menu .nav__form {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}
.grid-container .header .header__nav .nav__menu .nav__form input {
  height: 38px;
  width: 230px;
  padding: 10px;
  border: 1px solid #d3d7da;
}
.grid-container .header .header__nav .nav__menu .nav__form input:focus {
  border: 1px solid #777888;
  outline: none;
  transition: all 1s;
}
.grid-container .header .header__nav .nav__menu .nav__form button {
  height: auto;
  width: 24px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.grid-container .header .header__nav .nav__usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px;
}
.grid-container .header .header__nav .nav__usuario a {
  width: 35px;
  height: auto;
}
.grid-container .header .header__nav .nav__usuario a img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}
.grid-container main {
  /* MAIN */
  grid-area: main;
  background-color: white;
  background-image: url(../img/homeInicio.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: center;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.grid-container main .main__contenedor__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.grid-container main .main__contenedor__texto .main__boxmodel {
  text-align: center;
  color: black;
}
.grid-container main .main__contenedor__texto .main__boxmodel h2 {
  font-family: "Nuosu SIL", serif;
  font-weight: 600;
  font-size: 5rem;
}
.grid-container main .main__contenedor__texto .main__boxmodel p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  margin-top: 5px;
}
.grid-container main .main__contenedor__texto .main__boton {
  text-align: center;
  margin-top: 9px;
}
.grid-container main .main__contenedor__texto .main__boton a {
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 2PX;
  font-family: sans-serif;
  font-size: 18px;
}
.grid-container main .main__contenedor__texto .main__boton a:hover {
  border: 1px solid black;
  color: black;
}
.grid-container .section {
  /* SECTION */
  grid-area: section;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.grid-container .section .section__container__producto {
  margin: 40px 0;
  padding: 2px 16px;
}
.grid-container .section .section__container__producto .section__img {
  display: flex;
  justify-content: space-between;
  /* min-width: 250px;
  min-height: 250px; */
}
.grid-container .section .section__container__producto .section__img :first-child,
.grid-container .section .section__container__producto .section__img :nth-child(2),
.grid-container .section .section__container__producto .section__img :nth-child(3),
.grid-container .section .section__container__producto .section__img :nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid-container .section .section__container__producto .section__img li {
  display: flex;
  gap: 10px;
  padding: 10px 16px;
}
.grid-container .section .section__container__producto .section__img li .producto__info {
  border-top: 1px solid #777;
}
.grid-container .section .section__container__producto .section__img li .producto__info button {
  background-color: rgb(213, 144, 15);
  border-radius: 4%;
  color: #333;
  border: 0;
  padding: 8px 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.grid-container .section .section__container__producto .section__img li .producto__info button:hover {
  background-color: rgba(213, 144, 15, 0.88);
  color: black;
}
.grid-container .section .section__container__producto .section__img li .producto__info h3 {
  font-weight: 500;
  padding-bottom: 5px;
  font-size: x-large;
}
.grid-container .section .section__container__producto .section__img li .producto__info h4 {
  color: #777888;
  font-weight: 400;
  font-size: larger;
  margin-bottom: 3px;
}
.grid-container .section .section__container__producto .section__img li a {
  width: 250px;
  height: 330px;
  margin-left: auto;
  margin-right: auto;
}
.grid-container .section .section__container__producto .section__img li:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
.grid-container .section2 {
  /* SECTION2 */
  grid-area: section2;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}
.grid-container .section2 .section__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.grid-container .section2 .section__container .section__boxmodel2 {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 315px;
  padding: 30px;
}
.grid-container .section2 .section__container .section__boxmodel2 ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid-container .section2 .section__container .section__boxmodel2 ul li {
  text-decoration: none;
  list-style: none;
}
.grid-container .section2 .section__container .section__boxmodel2 ul li h3 {
  font-size: 1.2rem;
  font-weight: 500;
}
.grid-container .section2 .section__container .section__video {
  display: flex;
  flex-direction: row;
}
.grid-container .section2 .section__container .section__video iframe {
  padding: 30px;
}
.grid-container .footer {
  /* FOOTER */
  grid-area: footer;
  background-color: #363738;
  width: 100%;
}
.grid-container .footer .footer-container .footer__contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.grid-container .footer .footer-container .footer__contenedor .box__footer {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.grid-container .footer .footer-container .footer__contenedor .box__footer .logo img {
  width: 65px;
}
.grid-container .footer .footer-container .footer__contenedor .box__footer .parrafo {
  max-width: 400px;
  margin-top: 11px;
  font-weight: 500;
  color: #d3d7da;
}
.grid-container .footer .footer-container .footer__contenedor .box__footer h2 {
  color: #bcbcbc;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 20px;
}
.grid-container .footer .footer-container .footer__contenedor .box__footer a {
  margin-top: 1rem;
  color: #d3d7da;
  font-weight: 500;
  text-decoration: none;
}
.grid-container .footer .footer-container .footer__contenedor .box__footer a .fab {
  font-size: 20px;
}
.grid-container .footer .footer-container .footer__contenedor .box__footer a:hover {
  opacity: 0.8;
}
.grid-container .footer .footer-container .box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}
.grid-container .footer .footer-container .box__copyright p {
  margin: 20px 0;
  color: #d3d7da;
  font-weight: 500;
}
.grid-container .footer .footer-container .box__copyright hr {
  border: none;
  height: 1px;
  background-color: #d3d7da;
}

/* RESPONSIVE */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* HOME-INDEX */
  .grid-container {
    grid-template-rows: auto 480px auto 450px auto;
    font-size: 1rem;
  }
  .grid-container .header .header__nav .nav__icono {
    margin: 0 -25px;
  }
  .grid-container .header .header__nav .nav__usuario {
    margin: 0 25px;
  }
  .grid-container .footer .footer-container {
    margin-left: -25px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  /* HOME-INDEX */
  .grid-container {
    grid-template-rows: auto 380px auto auto auto;
    font-size: 13px;
  }
  .grid-container .header .header__nav {
    flex-direction: column;
    height: 101%;
  }
  .grid-container .header .header__nav .nav__icon {
    display: flex;
    margin: 0 50px;
    flex-direction: column;
    justify-content: end;
    height: 58px;
    width: 100%;
  }
  .grid-container .header .header__nav #label__check {
    display: block;
  }
  .grid-container .header .header__nav #nav__check:checked ~ .nav__icono {
    margin-top: 1rem;
    height: 100%;
    visibility: visible;
    opacity: 1;
  }
  .grid-container .header .header__nav #nav__check:checked ~ .nav__menu {
    height: 100%;
    visibility: visible;
    opacity: 1;
  }
  .grid-container .header .header__nav #nav__check:checked ~ .nav__usuario {
    height: 100%;
    visibility: visible;
    opacity: 1;
    margin-bottom: 1rem;
  }
  .grid-container .header .header__nav .nav__icono {
    width: 50px;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
  }
  .grid-container .header .header__nav .nav__menu {
    flex-direction: column;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
  }
  .grid-container .header .header__nav .nav__menu ul {
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
  }
  .grid-container .header .header__nav .nav__menu ul li {
    padding: 0 50px;
  }
  .grid-container .header .header__nav .nav__menu ul li a {
    font-size: 0.9rem;
  }
  .grid-container .header .header__nav .nav__menu .nav__form {
    justify-content: start;
    padding: 0 50px;
    margin: 10px 0;
  }
  .grid-container .header .header__nav .nav__menu .nav__form input {
    width: 100%;
  }
  .grid-container .header .header__nav .nav__usuario {
    margin: 10px 0;
    padding: 0 50px;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
  }
  .grid-container main .main__contenedor__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .grid-container main .main__contenedor__texto .main__boxmodel h2 {
    font-size: 37px;
  }
  .grid-container main .main__contenedor__texto .main__boxmodel p {
    font-size: 14px;
  }
  .grid-container main .main__contenedor__texto .main__boton {
    margin-top: 6px;
  }
  .grid-container main .main__contenedor__texto .main__boton a {
    font-size: 12px;
  }
  .grid-container .section .section__container__producto .section__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .grid-container .section .section__container__producto .section__img li a {
    min-width: 160px;
    max-width: 160px;
    max-height: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  .grid-container .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .grid-container .section2 .section__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .grid-container .section2 .section__container .section__boxmodel2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  .grid-container .section2 .section__container .section__boxmodel2 ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* .section__boxmodel2__p {
        text-align: center;
    } */
  }
  .grid-container .section2 .section__container .section__boxmodel2 ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    list-style: none;
  }
  .grid-container .section2 .section__container .section__boxmodel2 ul li h3 {
    padding-bottom: 20px;
  }
  .grid-container .section2 .section__container .section__video {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
  .grid-container .section2 .section__container .section__video iframe {
    width: 450px;
    height: 220px;
  }
  .grid-container .footer .footer-container .footer__contenedor .box__footer .logo img {
    width: 45px;
  }
}
@media only screen and (max-width: 480px) {
  /* HOME-INDEX */
  .grid-container {
    grid-template-rows: auto 380px auto auto auto;
    font-size: 11px;
  }
  .grid-container .header .header__nav {
    flex-direction: column;
    height: 101%;
  }
  .grid-container .header .header__nav .nav__icon {
    display: flex;
    margin: 0 50px;
    flex-direction: column;
    justify-content: end;
    height: 58px;
    width: 100%;
  }
  .grid-container .header .header__nav #label__check {
    display: block;
  }
  .grid-container .header .header__nav #nav__check:checked ~ .nav__icono {
    margin-top: 1rem;
    height: 100%;
    visibility: visible;
    opacity: 1;
  }
  .grid-container .header .header__nav #nav__check:checked ~ .nav__menu {
    height: 100%;
    visibility: visible;
    opacity: 1;
  }
  .grid-container .header .header__nav #nav__check:checked ~ .nav__usuario {
    height: 100%;
    visibility: visible;
    opacity: 1;
    margin-bottom: 1rem;
  }
  .grid-container .header .header__nav .nav__icono {
    width: 50px;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
  }
  .grid-container .header .header__nav .nav__menu {
    flex-direction: column;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
  }
  .grid-container .header .header__nav .nav__menu ul {
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
  }
  .grid-container .header .header__nav .nav__menu ul li {
    padding: 0 50px;
  }
  .grid-container .header .header__nav .nav__menu ul li a {
    font-size: 0.9rem;
  }
  .grid-container .header .header__nav .nav__menu .nav__form {
    justify-content: start;
    padding: 0 50px;
    margin: 10px 0;
  }
  .grid-container .header .header__nav .nav__menu .nav__form input {
    width: 100%;
  }
  .grid-container .header .header__nav .nav__usuario {
    margin: 10px 0;
    padding: 0 50px;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
  }
  .grid-container main .main__contenedor__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .grid-container main .main__contenedor__texto .main__boxmodel h2 {
    font-size: 30px;
  }
  .grid-container main .main__contenedor__texto .main__boxmodel p {
    font-size: 11px;
  }
  .grid-container main .main__contenedor__texto .main__boton {
    margin-top: 4px;
  }
  .grid-container main .main__contenedor__texto .main__boton a {
    font-size: 9px;
  }
  .grid-container .section .section__container__producto .section__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .grid-container .section .section__container__producto .section__img li a {
    min-width: 140px;
    max-width: 140px;
    max-height: 240px;
    margin-left: auto;
    margin-right: auto;
  }
  .grid-container .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .grid-container .section2 .section2 .section__container .section__boxmodel2 .section__boxmodel2__p {
    text-align: center;
  }
  .grid-container .section2 .section__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .grid-container .section2 .section__container .section__boxmodel2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px 20px 0;
  }
  .grid-container .section2 .section__container .section__boxmodel2 ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .grid-container .section2 .section__container .section__boxmodel2 ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    list-style: none;
  }
  .grid-container .section2 .section__container .section__boxmodel2 ul li h3 {
    padding-bottom: 20px;
    font-size: 15px;
  }
  .grid-container .section2 .section__container .section__boxmodel2 ul .section__boxmodel2__p {
    font-size: 11px;
    text-align: center;
  }
  .grid-container .section2 .section__container .section__video {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .grid-container .section2 .section__container .section__video iframe {
    width: 330px;
    height: 200px;
  }
  .grid-container .footer .footer-container {
    margin-left: -25px;
  }
  .grid-container .footer .footer-container .footer__contenedor .box__footer .logo img {
    width: 45px;
  }
}/*# sourceMappingURL=main.css.map */